
*{
  font-family: raleway;
}
html,body{
  margin: auto;
}

body{
  background-color: #9CCEF4;
  }
.app {
  height: 100vh;
  width: 100%;
  transition: background-color 1s ease-in;
  background-color: #9CCEF4;
}

/* .app__header, */
 .app__main {
  height: 90%;
  background-color: #9CCEF4;
} 

/*  Search bar */
#input-name{
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 20px;
}
#input-name:focus{
border-bottom: 1px solid #283880;
}
.app__header{
  background-color: #759EDA;
  height: 75px;
}
button{
margin-top:0.8%; ;
background-color: #5779C7;
color: #283880;
padding: 1%;
width: 10%;
border: none;
outline: none;
font-size: 19px;

}

/* Current weather */
.center>img{
width: 20%;
height: 20%;

}
.center{
  text-align: center; 
  background-color: #9CCEF4;
}
.first_p{
  color: beige;
  font-size: 30px;
  font-weight: bold;
}
.temp{
  color: #0F1756;
  font-size: 25px;
  font-weight: bold;

}
.temp1{
  font-size: 20px;
  color: #0F1756;

}
.humidity{
  font-size: 20px;
  color: #0F1756;
  font-weight: bold;
}
.perc{
  font-size: 15px;
  color: #0F1756;
  
}
div {
  border: none;
  
}
.cointainer{
  display: flex;
  justify-content: space-around;
  background-color:#9CCEF4;
  height: 400px;
  margin-top: 100px;

  
}
.pictures{
  text-align: center;
}
.images{
width: 100px;
height: 100px;
}
.time{
  font-weight: bold;
}